@mixin classicFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin wrapper {
  padding-left: 260px;
  padding-right: 260px;
  margin: auto;
  position: relative;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300px;
  color: #838383;
  text-wrap: nowrap;
}

body {
  width: 1920px;
  margin: auto;
  background-color: #fff;
}

.hidden {
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  z-index: -5;
}

.h2 {
  margin-top: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58.59px;
  color: #292d32;
}
.lineHeight50 {
  line-height: 50px;
}

.h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 32.5px;
  color: #292d32;
}

.secondary {
  font-size: 16px;
  font-weight: 400px;
  color: #292d32;
}

.blackCardH3,
.blackCardSecondary {
  font-family: 'Euclid Circular A', Arial Bold, sans-serif;
}
.blackCardH3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 27.9px;
  color: #fff;
  margin: 26px 0 -3px 0;
}
.blackCardSecondary {
  font-size: 16px;
  font-weight: 300;
  line-height: 20.29px;
  color: #b7b7b7;
}

button {
  border: none;
  background-color: transparent;
}

.header {
  @include wrapper;
  @include classicFlex();
  height: 123px;
}

div.bestProducts__wrapper {
  @include wrapper;
  @include classicFlex();
  height: 100%;
  align-items: end;
  padding-bottom: 158px;
  gap: 32px;
}

nav.menu {
  @include classicFlex;
  gap: 45px;
  font-size: 15px;
  text-transform: uppercase;
}

nav.user {
  @include classicFlex;
  gap: 30px;
}

nav.user::after {
  position: absolute;
  top: 36px;
  right: 260px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3086c8;

  content: '3';
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  text-align: center;
  color: #fff;
}

.menu__item a {
  font-size: 15px;
  text-decoration: none;
  color: #838383;
  height: max-content;
}

.logo {
  margin-right: 15px;
}

.userMenu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  top: 123px;
  right: 319px;
  background-color: #fff;
  border-radius: 20px;
  width: 405px;
  height: 389px;
  box-shadow: 1px 1px 45px 0px #d0d0d0;
}

.userMenu::after {
  position: absolute;
  top: -8px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  background-color: #fff;
  content: '';
}

@mixin userMenuFont {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.userName {
  @include userMenuFont;
  margin-right: -10px;
}

.userMenu__item {
  @include userMenuFont;
  height: 70px;
  padding: 20px 30px;
  background-color: transparent;
  border-top: 1px solid #f2f2f2;
}

.userMenu__header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  @include userMenuFont;
  padding: 30px;
  background-color: transparent;
}

section.bestProducts {
  background-color: #f2f2f2;
  height: 683px;
  position: relative;
  z-index: -3;
}

button.scroll {
  @include classicFlex;
  gap: 20px;
  transform: rotate(-90deg);
  margin-bottom: 70px;
  margin-left: -75px;
}

.scroll .scroll__img {
  transform: rotate(90deg);
}

.bestProducts__content {
  width: 400px;
  gap: 20px;
}

.bestProducts__h2 {
  margin-bottom: 60px;
}

img.dellLayout {
  position: absolute;
  left: 260px;
  top: 97px;
  z-index: -1;
}

img.laptopLayout {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button.readMoreButton {
  width: 55px;
  height: 55px;
  background-color: #33a9ff;
  border-radius: 50%;
}

div.slider {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
  flex: 1;
  gap: 60px;
  height: 100%;
  padding-right: 104px;
}

.slider__bestLaptop {
  position: absolute;
  top: 75px;
  left: -25px;
}

.slider__indicator {
  width: 70px;
  height: 10px;
  margin-bottom: 12px;
  margin-right: 10px;
  @include classicFlex();
}

.slider__circle {
  width: 5px;
  height: 5px;
  background-color: #d0d0d0;
  border-radius: 50%;
}

.slider__longArrow {
  margin-top: 55px;
  padding: 0;
}

div.promotion {
  background-color: #f9f9f9;
  height: 100%;
  width: 510px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -3;
  @include classicFlex;
}

.promotion__h3 {
  margin-left: 40px;
  margin-top: 80px;
}

.catalog {
  @include wrapper();
  @include classicFlex();
  padding-top: 160px;
  padding-bottom: 178px;
  height: 1125px;
  flex-wrap: wrap;
  gap: 35px;
  align-content: center;
}

.catalog__productCard,
.catalog__content {
  width: 440px;
  height: 371px;
  border-radius: 20px;
}
.catalog__content {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 62px;
}

.catalog__productCard {
  padding: 35px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.catalog__productCard:nth-child(odd) {
  background-color: #f9f9f9;
}
.catalog__productCard:nth-child(even) {
  background-color: #f2f2f2;
}

.catalog__productCard:nth-child(2) .catalog__img {
  margin-left: -25px;
  margin-bottom: 26px;
}
.catalog__productCard:nth-child(3) .catalog__img {
  margin-left: 75px;
}
.catalog__productCard:nth-child(4) .catalog__img {
  margin-left: 13px;
}
.catalog__productCard:nth-child(6) .catalog__img {
  margin-bottom: 6px;
  margin-left: 46px;
}

.catalog__content .h2 {
  margin-bottom: 10px;
}

.catalog__content p {
  text-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 30px;
}

.catalog__index {
  font-size: 25px;
  font-weight: 100;
  position: absolute;
  top: 20px;
  left: 40px;
}

.catalog__img {
  width: max-content;
  height: auto;
  margin-left: 10%;
  margin-bottom: 11%;
}

.catalog .h3 {
  margin: 8px 0px;
}

.advantages {
  @include wrapper();
  background-color: #f2f2f2;
  height: 962px;
}

.advantages__main {
  @include classicFlex();
  padding-top: 86px;
  padding-bottom: 48px;
}
.advantages__main > img {
  margin-left: -78px;
  z-index: 2;
}

.advantages__content {
  height: 265px;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto 38px 8px;
}
.advantages__content p {
  text-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 30px;
}

.advantages__layout {
  position: absolute;
  left: 10px;
  top: 162px;
}

.advantages__container {
  height: 290px;
  @include classicFlex();
}
.advantages__card {
  position: relative;
  background-color: #292d32;
  border-radius: 18px;
  padding: 30px;
  padding-bottom: 38px;
  max-width: 330px;
  height: 100%;
}
.advantages__card p {
  text-wrap: wrap;
}
.advantages__card > img {
  position: absolute;
  top: 0;
  right: 0;
}
.advantages__icon {
  background-color: #343a41;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  padding: 16px;
}




.news {
  height: 1328px;
  border-bottom: 1px solid #000; ////////////!!!!!!!!!!!!!!
  padding-top: 172px;
  padding-bottom: 176px;
}
.news__header {
  @include wrapper();
  @include classicFlex();
  align-items: start;
  height: 208px;
}
.news__header .h2 {
  margin-bottom: 26px;
}
.news__header .secondary {
  margin-top: 8px;
}
.news__main {
  @include classicFlex();
  @include wrapper();
  flex-wrap: wrap;
  row-gap: 40px;
}
.news__card {
  position: relative;
  width: 415px;
  height: 364px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  margin-right: 25px;
  box-shadow: 0px 0px 80px 0px #0000000c;
}
.news__img {
  border-top-left-radius: 45px;
}
.news__supportingImg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  border-bottom-right-radius: 45px;
}
.news__supportingImg2 {
  position: absolute;
  bottom: 87px;
  right: 12px;
  z-index: 2;
}
.news__title {
  font-weight: 700;
  position: absolute;
  bottom: 35px;
  left: 30px;
  right: 100px;
  z-index: 3;
  text-wrap: wrap;
}
.news__decription {
  position: absolute;
  bottom: 28px;
  left: 30px;
  z-index: 3;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  color: #292D32;
}
button.news__readMore {
  position: absolute;
  bottom: 65px;
  right: 25px;
  z-index: 3;
  width: 67px;
  height: 67px;
  background-color: #292D32;
  border: 12px solid #FFF;
  border-radius: 50%;
}
.news__date {
  position: absolute;
  top: 62px;
  right: -25px;
  width: 50px;
  height: 97px;
  padding: 18px 0;
  text-align: center;
  color: #292D32;
  border-radius: 15px;
  background-color: #FFF;
  z-index: 3;
}



.footer__nav,
.footer__contacts {
  @include wrapper();
  @include classicFlex();
  height: 438px;
}
.footer__nav {
  height: 300px;
  padding: 60px 450px 60px 260px;
  align-items: start;
}

.footer__separateLine {
  height: 1px;
  margin: 0px 260px;
  border-top: 1px solid #e5e5e5;
}

.footer__contacts {
  height: 140px;
}
.footer__contacts p {
  margin: 0;
  margin-bottom: 6px;
}

.footer__logo {
  width: 112px;
  height: 112px;
  margin-bottom: 7px;
  margin-right: 10px;
  align-self: center;
}

img.footer__dellLayout {
  position: absolute;
  top: 150px;
  right: 0px;
  z-index: -1;
}

.footer .h3 {
  padding-bottom: 7px;
}
.footer a {
  text-decoration: none;
}
.footer__item {
  margin-top: 1px;
}

.media {
  width: 94px;
  @include classicFlex();
}

.black {
  color: #292D32;
}

.gray {
  color: #838383;
}
