.advantages {
  background-color: #f2f2f2;
  height: 962px;
}

.advantages__main {
  padding-top: 86px;
  padding-bottom: 48px;
}

.advantages__main > img {
  max-height: 492px;
  width: auto;
  margin-left: -78px;
  z-index: 2;
}

.advantages__content {
  height: 265px;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto 38px 8px;
}

.advantages__content p {
  text-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 30px;
}

.advantages__layout {
  position: absolute;
  left: 10px;
  top: 162px;
}

.advantages__container {
  height: 290px;
  gap: 1rem;
}

.advantages__card {
  position: relative;
  background-color: #292d32;
  border-radius: 18px;
  padding: 30px;
  padding-bottom: 38px;
  width: 330px;
  height: 100%;
}

.advantages__card p {
  text-wrap: wrap;
}

.advantages__card > img {
  position: absolute;
  top: 0;
  right: 0;
}

.advantages__icon {
  background-color: #343a41;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  padding: 16px;
}

@media (width < 426px) {
  .advantages {
    height: 1546px;
  }

  .advantages__content {
    height: auto;
    margin-left: 0;
    margin-right: 20px;
  }

  .advantages__card {
    border-radius: 10px;
    padding: 15px;
    padding-right: 20px;
    width: auto;
    height: 212px;
  }

  .advantages__card p.blackCardSecondary {
    margin: 0;
  }

  .advantages__card p.blackCardH3 {
    margin: 15px 0 10px 0;
  }

  .advantages__card > img {
    height: 64px;
    width: auto;
  }
  
  .advantages__icon {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .advantages__icon img {
    width: 30px;
    height: 30px;
  }
  
  .advantages__main {
    flex-direction: column-reverse;
    padding-top: 106px;
    margin-bottom: 92px;
  }
  
  .advantages__main > img {
    height: 194px;
    position: absolute;
    right: -10px;
    top: 282px;
  }

  .advantages__container {
    flex-direction: column;
    height: auto;
    gap: 20px;
  }

  .advantages__layout {
    top: 373px;
    left: 14px;
  }
}
