.bestProducts__wrapper {
  height: 100%;
  align-items: end;
  padding-bottom: 158px;
  gap: 32px;
  z-index: 2;
}

section.bestProducts {
  background-color: #f2f2f2;
  height: 683px;
  position: relative;
}

button.scroll {
  gap: 20px;
  transform: rotate(-90deg);
  margin-bottom: 70px;
  margin-left: -75px;
}

.scroll .scroll__img {
  transform: rotate(90deg);
}

.bestProducts__content {
  max-width: 400px;
  gap: 20px;
}

.bestProducts__h2 {
  margin-bottom: 60px;
}

img.dellLayout {
  position: absolute;
  left: 260px;
  top: 97px;
  z-index: -1;
  max-height: 480px;
  width: auto;
}

img.laptopLayout375 {
  display: none;
}

img.laptopLayout {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

div.slider {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
  flex: 1;
  gap: 60px;
  height: 100%;
  padding-right: 104px;
}

.slider__bestProduct {
  position: absolute;
  top: 75px;
  left: -25px;
}

.slider__indicator {
  width: 70px;
  height: 10px;
  margin-bottom: 12px;
  margin-right: 18px;
}

.slider__circle {
  width: 5px;
  height: 5px;
  background-color: #d0d0d0;
  border-radius: 50%;
  &.active {
    width: 9px;
    height: 9px;
    background-color: #292d32;
  }
}

.slider__longArrow {
  margin-top: 55px;
  margin-bottom: -3px;
  padding: 0;
}

div.promotion {
  background-color: #f9f9f9;
  height: 100%;
  width: 510px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -3;
}

.promotion__h3 {
  margin-left: 40px;
  margin-top: 80px;
}

@keyframes switchSlider {
  0% {
    transform: translateX(0px);
    opacity: 0.1;
  }
  10% {
    transform: translateX(-50px);
    opacity: 0;
  }
  40% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media (width < 426px) {
  .bestProducts__wrapper {
    flex-direction: column;
    height: 593px;
    padding-top: 64px;
    padding-bottom: 0px;
    gap: 6px;
  }

  .bestProducts__content {
    height: 211px;
  }

  .bestProducts__h2 {
    margin: -12px 0 29px 0;
  }

  div.slider {
    padding-right: 0;
    padding-top: 200px;
    margin-bottom: 12px;
    gap: 40px;
    height: 325px;
    justify-content: end;
  }

  div.promotion,
  img.laptopLayout {
    position: static;
  }

  div.promotion {
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
  }
  .promotion__h3 {
    margin: 58px -20px 58px 20px;
    line-height: 26px;
  }

  .slider__bestProduct {
    height: 325px;
    width: auto;
    left: 0px;
    top: 3px;
  }

  img.dellLayout {
    height: 77px;
    width: auto;
    left: 32px;
    top: 18px;
    z-index: -1;
  }

  img.laptopLayout375 {
    display: block;
  }

  img.laptopLayout,
  .scroll {
    display: none;
  }

  .slider__indicator {
    width: 57px;
    height: 5px;
    margin-bottom: 8px;
    margin-right: 0;
    z-index: 3;
  }
  
  .slider__circle {
    width: 3px;
    height: 3px;
    &.active {
      width: 5px;
      height: 5px;
    }
  }
  
  .slider__longArrow {
    margin-top: 102px;
    z-index: 3;
  }
  .slider__longArrow img {
    height: 14px;
    width: auto;
  }
}
