.catalog {
  padding-top: 164px;
  padding-bottom: 182px;
  flex-wrap: wrap;
  gap: 40px;
  align-content: center;
}

.catalog__productCard,
.catalog__content {
  width: 440px;
  height: 371px;
  border-radius: 20px;
}

.catalog__content {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 62px;
}

.catalog__productCard {
  padding: 35px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.catalog__productCard:nth-child(odd) {
  background-color: #f9f9f9;
}

.catalog__productCard:nth-child(even) {
  background-color: #f2f2f2;
}

.catalog__productCard:nth-child(2) .catalog__img {
  margin-left: -25px;
  margin-bottom: 26px;
}

.catalog__productCard:nth-child(3) .catalog__img {
  margin-left: 75px;
}

.catalog__productCard:nth-child(4) .catalog__img {
  margin-left: 13px;
}

.catalog__productCard:nth-child(6) .catalog__img {
  margin-bottom: 6px;
  margin-left: 46px;
}

.catalog__content .h2 {
  margin-bottom: 10px;
}

.catalog__content p {
  text-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 30px;
}

.catalog__index {
  font-size: 25px;
  font-weight: 100;
  position: absolute;
  top: 20px;
  left: 40px;
}

.catalog__img {
  width: max-content;
  height: auto;
  margin-left: 10%;
  margin-bottom: 11%;
}

.catalog .h3 {
  margin: 8px 0px;
}

@media (width < 425px) {
  .catalog,
  .advantages__container {
    flex-direction: column;
  }
  .catalog {
    padding-top: 120px;
    padding-bottom: 120px;
    align-content: center;
    gap: 21px;
  }

  .catalog__content {
    width: auto;
    height: auto;
    padding: 0;
    margin-bottom: 20px;
  }
  .catalog__content .h2 {
    margin-right: 80px;
    margin-bottom: 20px;
  }

  .catalog div.catalog__productCard {
    width: 345px;
    height: 290px;
    padding: 20px;
    border-radius: 10px;
    background-color: #EEEEEE;
  }
  div.catalog__productCard:nth-child(2) {
    height: 275px;
  }

  .catalog__productCard:nth-child(2) .catalog__img {
    margin-left: 0px;
    margin-bottom: 6px;
  }
  
  .catalog__productCard:nth-child(3) .catalog__img {
    margin-bottom: 15px;
    height: 77%;
    margin-right: 14px;
    margin-left: 77px;
  }
  
  .catalog__productCard:nth-child(4) .catalog__img {
    height: 45%;
    width: 88%;
    margin-left: 17px;
    margin-bottom: 15%;
  }
  
  .catalog__productCard:nth-child(5) .catalog__img {
    height: auto;
    width: 75%;
    margin-bottom: 48px;
    margin-left: 12%;
  }
  
  .catalog__productCard:nth-child(6) .catalog__img {
    margin-bottom: 15px;
  }
  
  .catalog__index {
    font-size: 20px;
    line-height: 30px;
    top: 0px;
    left: 20px;
  }
  .catalog__productCard .h3 {
    margin: 0;
  }

  .catalog__img {
    width: auto;
    height: 80%;
  }

  .advantages__main > img {
    height: 194px;
    width: auto;
  }

  .advantages__layout {
    height: 121px;
    width: auto;
  }
}
