.contacts {
  position: relative;
  height: 1022px;
}

.contacts::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 676px;
  width: 100%;
  background-color: #eee;
  content: '';
}

.contacts__wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 260px;
  height: 842px;
  max-width: 1400px;
  border-radius: 20px;
  background-color: #f9f9f9;
  z-index: 3;
}

.contacts .h2 {
  margin-bottom: 16px;
}
.contacts__description {
  margin-bottom: 0;
}

.contacts__content,
.application {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__content {
  position: relative;
  padding: 100px;
}

.contacts__img {
  position: absolute;
  right: -87px;
  top: 142px;
}

.contacts__item {
  font-size: 22px;
  line-height: 33px;
  color: #292d32;
  margin: -15px 90px 0 55px;
  text-wrap: wrap;
}

.contacts__content div:nth-child(4) {
  margin-top: 30px;
}

.contacts .media {
  margin-top: 42px;
}

.application {
  padding: 100px 135px 100px 128px;
  background-color: #292d32;
  color: #fff;
  border-radius: 0px 20px 20px 0px;
}

.application__button {
  margin-top: 45px;
}

.application__header {
  margin-bottom: -7px;
}

input,
textarea {
  border: 1.5px solid #f2f2f280;
  background-color: transparent;
  border-radius: 20px;
  padding: 15px;
  color: #fff;
}

textarea {
  padding: 17px 15px;
  height: 145px;
}

.layoutForLabel {
  position: relative;
  top: 28px;
  left: 22px;
  width: max-content;
  padding: 0 5px;
  color: #f2f2f2;
  background-color: #292d32;
}

.contactsLayout {
  position: absolute;
  bottom: 55px;
  left: 12px;
  z-index: 2;
}

.contacts__icon {
  margin-right: 20px;
}

@media (width < 426px) {
  .contacts {
    height: auto;
  }

  .contacts::after {
    display: none;
  }

  .contactsLayout {
    display: none;
  }

  .contacts__wrapper {
    flex-direction: column;
  }

  img.contacts__img {
    height: 254.05px;
    transform: rotate(14deg);
    right: 48px;
    top: 412px;
  }

  .contacts__wrapper {
    position: static;
    height: auto;
  }

  .contacts__item {
    font-size: 18px;
    line-height: 27px;
    margin-left: 27px;
    margin-right: 27px;
    text-wrap: wrap;
  }

  .contacts__content .media {
    width: 65px;
    margin-top: 28px;
  }

  .contacts__content .media img {
    width: 27px;
    height: 27px;
  }

  .contacts__content p img {
    width: 19px;
    height: auto;
  }
  .contacts__description {
    text-wrap: wrap;
    margin-top: 25px;
    margin-right: 40px;
  }
  .contacts__content div:nth-child(2) {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .contacts__content div:nth-child(4) {
    margin-top: 15px;
  }

  .contacts__icon {
    margin-right: 8px;
  }

  .contacts__content,
  .application {
    border-radius: 0;
    padding: 30px;
    width: auto;
  }
  .contacts__content {
    padding-top: 106px;
    padding-bottom: 54px;
  }
  .application {
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 7px;
  }

  .application input,
  .application textarea {
    padding: 10px;
    border-radius: 10px;
  }

  .application textarea {
    height: 80px;
  }

  .layoutForLabel {
    top: 20px;
  }

  .application__button {
    margin-top: 25px;
  }
}
