.header {
  height: 123px;
}

nav.menu {
  gap: 45px;
  font-size: 15px;
  text-transform: uppercase;
}

nav.user {
  gap: 30px;
}

nav.user::after {
  position: absolute;
  top: 36px;
  right: 260px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3086c8;

  content: '3';
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  text-align: center;
  color: #fff;
}

.menu__item a {
  font-size: 15px;
  text-decoration: none;
  color: #838383;
  height: max-content;
}

.logo {
  margin-right: 15px;
}

.userMenu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  top: 123px;
  right: 319px;
  background-color: #fff;
  border-radius: 20px;
  width: 405px;
  height: 389px;
  box-shadow: 1px 1px 45px 0px #d0d0d0;
  z-index: 5;
}

.userMenu::after {
  position: absolute;
  top: -8px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  background-color: #fff;
  content: '';
}

.userName,
.userMenu__header,
.userMenu__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.userName {
  margin-right: -10px;
}

.userMenu__item {
  height: 70px;
  padding: 20px 30px;
  background-color: transparent;
  border-top: 1px solid #f2f2f2;
}

.userMenu__header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 30px;
  background-color: transparent;
}
