.header {
  height: 123px;
  z-index: 5;
}

nav.menu {
  gap: 45px;
  font-size: 15px;
  text-transform: uppercase;
}

nav.user {
  gap: 30px;
}

#shoppingCartIcon {
  position: relative;
  height: 50px;
}

#shoppingCartIcon::after {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3086c8;
  z-index: 3;

  content: '3';
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  text-align: center;
  color: #fff;
}

.menu__item a {
  font-size: 15px;
  text-decoration: none;
  color: #838383;
  height: max-content;
}

.logo {
  margin-right: 15px;
}

.userMenu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  top: 123px;
  right: 319px;
  background-color: #fff;
  border-radius: 20px;
  width: 405px;
  height: 389px;
  box-shadow: 1px 1px 45px 0px #d0d0d0;
  z-index: 5;
}

.userMenu::after {
  position: absolute;
  top: -8px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  background-color: #fff;
  content: '';
}

.userName,
.userMenu__header,
.userMenu__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.userName {
  margin-right: -10px;
}

.userMenu__item {
  height: 70px;
  padding: 20px 30px;
  background-color: transparent;
  border-top: 1px solid #f2f2f2;
}

.userMenu__header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 30px;
  background-color: transparent;
}

div.shadow {
  position: fixed;
  width: 100%;
  height: calc(100% - 90px);
  top: 90px;
  left: 0vh;
  background-color: #000;
  opacity: 0.6;
  z-index: 4;
}

.burger__menu {
  position: absolute;
  background-color: #fff;
  width: 375px;
  height: 390px;
  top: 90px;
  right: 0;
  padding: 56px 257px 64px 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.burger__menuItem {
  font-size: 15px;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}

.burger__menuItem a {
  text-decoration: none;
  color: #292d32;
}

.burger {
  display: none;
  width: 0px;
  height: 0px;
  padding: 0px;
  border-radius: 50%;
  background-color: #f9f9f9;
}

.burger__hr {
  border: 1.5px solid #292d32;
  transition: 300ms ease-out;
}

.swipe {
  transform: translateX(50px);
  opacity: 0;
}

.rotateTopLine {
  transform: rotate(45deg) translate(6px, 6.5px);
}

.rotateBottomLine {
  transform: rotate(-45deg) translateY(0px);
}

@media (width < 426px) {
  .header {
    height: 90px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .userName,
  .menu__item,
  #userCalendar,
  #userFavourite {
    display: none;
  }

  .user img {
    width: 46px;
    height: 46px;
  }

  .burger {
    display: block;
    width: 46px;
    height: 46px;
    padding: 6px 14px;
  }

  nav.user {
    gap: 15px;
  }

  nav.user::after {
    top: 20px;
    right: 75px;
  }

  .menu button {
    margin-top: 8px;
  }
  .userMenu {
    right: 5px;
    width: 365px;
  }
  .userMenu::after {
    right: 145px;
    left: auto;
  }
}
