.news {
  height: 1328px;
  padding-top: 172px;
  padding-bottom: 176px;
}

.news__header {
  align-items: start;
  height: 208px;
}

.news__header .h2 {
  margin-bottom: 26px;
}

.news__button {
  flex-wrap: nowrap;
  margin-top: 8px;
}

.news__main {
  flex-wrap: wrap;
  row-gap: 40px;
}

.news__card {
  position: relative;
  max-width: 415px;
  height: 364px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  margin-right: 25px;
  box-shadow: 0px 0px 80px 0px #0000000c;
}

.news__img {
  width: 415px;
  height: 262px;
  border-top-left-radius: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.news__supportingImg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  border-bottom-right-radius: 45px;
  max-height: 146px;
  max-width: 415px;
}

.news__supportingImg2 {
  position: absolute;
  bottom: 87px;
  right: 12px;
  z-index: 2;
}

.news__title {
  font-weight: 700;
  position: absolute;
  bottom: 35px;
  left: 30px;
  right: 100px;
  z-index: 3;
  text-wrap: wrap;
}

.news__decription {
  position: absolute;
  bottom: 28px;
  left: 30px;
  z-index: 3;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  color: #292d32;
}

button.news__readMore {
  position: absolute;
  bottom: 65px;
  right: 25px;
  z-index: 3;
  width: 67px;
  height: 67px;
  background-color: #292d32;
  border: 12px solid #fff;
  border-radius: 50%;
}

.news__date {
  position: absolute;
  top: 62px;
  right: -25px;
  width: 50px;
  height: 97px;
  text-align: center;
  border-radius: 15px;
  background-color: #fff;
  z-index: 3;
}

.news__dateDay {
  font-size: 20px;
  font-weight: 900;
  color: #292d32;
  line-height: 23.44px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.news__dateMonth {
  font-size: 10px;
  font-weight: 300;
  color: #292d32;
  line-height: 11.72px;
}

@media (width < 426px) {
  .news {
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .news__header {
    flex-direction: column;
    height: auto;
  }

  .news__header p + p {
    text-wrap: wrap;
    margin-top: -4px;
    margin-bottom: 20px;
  }

  .news__button div {
    order: 2;
  }

  .news__button button {
    order: 1;
  }

  .news__card {
    width: 415px;
    height: 293px;
  }

  .news__img,
  .news__supportingImg {
    height: auto;
    width: 324px;
  }
}
